[Unit]
Description=NetPulse - Frontend Service
After=network.target probe.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/net-pulse
ExecStart=/opt/net-pulse/bin/frontend

[Install]
WantedBy=multi-user.target

