[Unit]
Description=starlink-monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
Group=pi
WorkingDirectory=/home/pi/starlink-monitor/
ExecStart=/home/pi/starlink-monitor/probe

[Install]
WantedBy=multi-user.target
