[Unit]
Description=NetPulse - Probe Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
Group=pi
WorkingDirectory=/opt/netpulse/app_probe
ExecStart=/opt/netpulse/app_probe/bin/probe

[Install]
WantedBy=multi-user.target
